<nav class="flex items-center justify-between flex-wrap bg-white shadow-lg border-b border-blue-400 p-6">
    <div class="flex items-center flex-shrink-0 mr-6">
        <a class="no-underline hover:no-underline" href="{{ url_for('home') }}">
            <span class="text-2xl pl-2">SlimBoilerplate</span>
        </a>
    </div>

    <div class="block lg:hidden">
        <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <title>Menu</title>
                <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
            </svg>
        </button>
    </div>

    <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto lg:block pt-6 lg:pt-0 hidden" id="nav-content">
        <ul class="nav-list list-reset lg:flex justify-start flex-1 items-center">
            <li class="nav-list-item">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-list-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-list-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>

    <div class="flex-grow lg:flex lg:items-center lg:w-auto lg:block pt-6 lg:pt-0">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
            {% if user %}
                <li class="nav-list-item">
                    <a href="#" class="nav-link">Hi, {{ user.first_name }}</a>
                </li>
                <li class="nav-list-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">Sign Out</a>
                </li>
            {% else %}
                <li class="nav-list-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">Sign In</a>
                </li>
                <li class="nav-list-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>